fastapi
uvicorn
groq
python-dotenv
chromadb
redis
sentence-transformers
pydantic
prometheus-client
pytest
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-asgi
opentelemetry-exporter-otlp
locust
transformers
presidio-analyzer
